.container--grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -1em 0 0 -1em;
    justify-content: center;
}
  
.container--month {
    display: block;
    align-self: center;
    padding: 1em 0 0 1em;
    flex-basis: 100%;
    text-decoration: none;
}

.month {
    border: 2px solid rgb(212, 212, 212);
    padding: 1em;
    min-height: 250px;
}


.month__title {
    margin: 2% auto;
    font-size: 1.125em;
  }

   /**** MEDIA QUERIES ****/

@media screen and (min-width: 768px) {
    .intro {
      max-width: 700px;
    }
    .container--month {
      flex-basis: 40%;
    }
    .container--1month {
      flex-basis: 50%;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .container--month {
      flex-basis: 30%;
    }
  }