.month--single {
  padding: 30px;
  min-height: 350px;
  position: relative;
  margin-top: 35px;
}
  
.list--single {
  list-style-type: none;
  padding: 0;
}

.list--single > li {
  padding: 4px;
}

.container--item {
  display: flex;
  flex-direction: row;
}

.item__options {
  padding: 0px 6px;
}

.edit-btn {
  margin-right: 10px;
  border: 0px;
  font-size: 14px;
}

.edit-btn:hover {
  cursor: pointer;
}

.container--title {
  display: flex;
  justify-content: center;
}

.month__year {
  position: relative;
}

.arrow-back {
  position: absolute;
  left: 0;
  cursor: pointer;
  padding: 0px 15px 0px 0px;
}

.complete {
  font-style: italic;
  text-decoration: line-through;
}

.incomplete {
  font-style: normal;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .month__year {
      flex-basis: 50%;
  }
}